<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/62a78c62-0d9d-47ec-b6c7-9f15a065c0b1/resourcegroups/Identity20240406230110ResourceGroup/providers/Microsoft.Web/sites/IdentityAilacs</ResourceId>
    <ResourceGroup>Identity20240406230110ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://identityailacs.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>98bcc88d-1d70-49f6-bd30-2d84d7cb1b79</ProjectGuid>
    <PublishUrl>https://identityailacs.scm.azurewebsites.net/</PublishUrl>
    <UserName>$IdentityAilacs</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>